20th_AUG_ASSIGNMENT

In [1]:
##  1 Write a program to reverse a string.
string1 = "Hello world"
print(string1[::-1])

dlrow olleH

In [2]:
##  2 Check if a string is a palindrome.
string2 = "RACER"
if string2 == string2[::-1]:
  print(f"{string2} is a palindrome.")
else:
  print(f"{string2} is not a palindrome.")

RACER is not a palindrome.

In [3]:
##  3 Convert a string to uppercase.
string3 = "hello duniya"
print(string3.upper())

HELLO DUNIYA

In [4]:
##  4 Convert a string to lowercase.
string4 = "HELLO DuniYA"
print(string4.lower())

hello duniya

In [5]:
##  5 Count the number of vowels in a string.
string5 = "Hello I am a new student guy in pwskills"
vowels = "AEIOUaeiou"
vow_count = 0
for char in string5:
  if char in vowels:
    vow_count += 1
print(f"Number of vowels in {string5} is {vow_count}.")

Number of vowels in Hello I am a new student guy in pwskills is 11.

In [6]:
##   6 Count the number of consonants in a string.
string6 = "Hello I am a new student guy in pwskills"
vowels = "AEIOUaeiou"
cons_count = 0
for char in string6:
  if char not in vowels:
    cons_count +=1
print(f"Number of consonants in {string6} is {cons_count}.")

Number of consonants in Hello I am a new student guy in pwskills is 29.

In [7]:
##  7 Remove all whitespaces from a string.
string7 = "Hello I am a new student guy in pwskills"
print(string7.replace(" ",""))

HelloIamanewstudentguyinpwskills

In [8]:
##  8 Find the length of a string without using the `len()` function.
string8 = "pwskills student are coder.."
length = 0
for character in string8:
  length += 1
print(f"Length of '{string8}' is {length}.")

Length of 'pwskills student are coder..' is 28.

In [9]:
##  9 Check if a string contains a specific word.
string9 = "Hello, World! This is an example."
specific_word = "example"

if specific_word in string9:
    print(f"The string contains the word '{specific_word}'.")
else:
    print(f"The string does not contain the word '{specific_word}'.")

The string contains the word 'example'.

In [10]:
##  10 Replace a word in a string with another word.
string10 = "Hello! pwskills world."
print(string10.replace("Hello","Namaste"))

Namaste! pwskills world.

In [11]:
##  11 Count the occurrences of a word in a string.
string11 = "I am a student and student are the future of the counry and student are backbone of the country."
count = 0
for word in string11.split():
    if word == "student":
        count += 1
print(f"The word 'student' occurs {count} times in the string.")

The word 'student' occurs 3 times in the string.

In [31]:
##  12 Find the first occurrence of a word in a string.
string12 = "I am a student and student are the future of the counry and student are backbone of the country."
specific_word = "student"
print(specific_word,"occur at the position ",string12.find("student"))

student occur at the position  7

In [13]:
##  13 Find the last occurrence of a word in a string.
string13 = "I am a student and student are the future of the counry and student are backbone of the country."
specific_word = "student"
print(specific_word,"occur at the position ",string13.rfind("student"))

student occur at the position  60

In [14]:
##  14 Split a string into a list of words.
string14 = "Splitting a string into a list of words"
print(string14.split())  # Split() use to split the string into a lsit of words.

['Splitting', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

In [15]:
##  15 Join a list of words into a string.
word_list = ['Hello', 'World!', 'This', 'is', 'an', 'example.']

# Join the list of words into a string using a space as the separator
output_string = ' '.join(word_list)

print(output_string)

Hello World! This is an example.

In [16]:
##  16 Convert a string where words are separated by spaces to one where words are separated by underscores.
string16 = "Replacing spaces with underscores."
print(string16.replace(" ","_"))

Replacing_spaces_with_underscores.

In [19]:
##  17 Check if a string starts with a specific word or phrase.
string17 = "Pwskills is a great learning platform."
specific_word = "Pwskills"
if string17.startswith(specific_word):
    print(f"The string17 starts with the specific word '{specific_word}'.")
else:
    print(f"The string17 didn't starts with the specific word '{specific_word}'.")

The string17 starts with the specific word 'Pwskills'.

In [20]:
##  18 Check if a string ends with a specific word or phrase.
string18 = "This is a sample sentence"
specific_word = "sentence"
# Checking the word that ends with the specific word.
if string18.endswith(specific_word):
    print(f"The string ends with word '{specific_word}'.")
else:
    print(f"The string does not end with word '{specific_word}'.")

The string ends with word 'sentence'.

In [21]:
##   19 Convert a string to title case (e.g., "hello world" to "Hello World").
string19 = "hello world"
print(string19.title())

Hello World

In [22]:
##  20 Find the longest word in a string.
string20 = "The quick brown fox jumped over the lazy dog"
longest_word = ""
for word in string20.split():
    if len(word) > len(longest_word):
        longest_word = word
print(f"The longest word in the string is '{longest_word}' with length {len(longest_word)}.")

The longest word in the string is 'jumped' with length 6.

In [23]:
##  21 Find the shortest word in a string.
string21 = "The quick brown fox jumped over the lazy dog"
shortest_word = ""
for word in string21.split():
    if len(word) < len(shortest_word):
        shortest_word = word
print(f"The shortest word in the string is '{shortest_word}' with length {len(shortest_word)}.")

The shortest word in the string is '' with length 0.

In [24]:
##  22 Reverse the order of words in a string.
string22 = "Reverse the order of words in a string"
words = string22.split()
reversed_words = reversed(words)
print(" ".join(reversed_words))

string a in words of order the Reverse

In [25]:
##  23 Check if a string is alphanumeric.
string23 = "This is a sample sentence"
if string23.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is not alphanumeric.

In [26]:
##  24 Extract all digits from a string.
string24 = "Extract all digits 23415 from a string"
digits = ""
for char in string24:
    if char.isdigit():
        digits += char
print("The digits are ",digits)

The digits are  23415

In [29]:
##  25 Extract all alphabets from a string.
string25 = "Extarcting all alphabets from a string and numbers 12345678910"
alphabets = ""
for char in string25:
    if char.isalpha():
        alphabets += char
print("The extracted aplhabets are ",alphabets)

The extracted aplhabets are  Extarctingallalphabetsfromastringandnumbers

In [30]:
##  26 Count the number of uppercase letters in a string.
string26 = "Count The Uppercase Letters in A String"
count = 0
for char in string26:
    if char.isupper():
        count +=1
print("The uppercase letters in a string are ",count)

The uppercase letters in a string are  6

In [32]:
##   27 Count the number of lowercase letters in a string.
string27 = "Counting Lowercase Letters From The String"
count = 0
for char in string27:
    if char.islower():
        count +=1

print("The lowercase letters in a string are ",count)

The lowercase letters in a string are  31

In [33]:
##  28 Swap the case of each character in a string.
string28 = "Swapping The cASe of Each cHaracTeR in A StrIng"
swapped_string = ""
for char in string28:
    if char.isupper():
        swapped_string += char.lower()
    elif char.islower():
        swapped_string += char.upper()
    else:
        swapped_string += char
print("The swapped string is ",swapped_string)

The swapped string is  sWAPPING tHE CasE OF eACH ChARACtEr IN a sTRiNG

In [34]:
##   29 Remove a specific word from a string.
string29 = "Removing a specific word"
specific_word = "specific"
if specific_word in string29:
    string29 = string29.replace(specific_word, "")
    print("After removing ",string29)
else:
    print(f"The string does not contain the word '{specific_word}'.")

After removing  Removing a  word

In [35]:
##  30 Check if a string is a valid email address.
string30 = "tugrp@example.com"
if "@" in string30 and "." in string30:
    print("The string is a valid email address.")
else:
    print("The string is not a valid email address.")

The string is a valid email address.

In [36]:
##  31 Extract the username from an email address string.
email_address = "example123456@google.com"
username = email_address.split("@")[0]
print(f"The username is {username}")

The username is example123456

In [37]:
##  32 Extract the domain name from an email address string.
email_address = "example123456@google.com"
domain_name = email_address.split("@")[1]
print(f"The domain name is {domain_name}")

The domain name is google.com

In [38]:
##   33 Replace multiple spaces in a string with a single space. 
def replace_spaces(input_string):
    return ' '.join(input_string.split())

# Example usage:
input_string = "This   is    an   example   with   multiple   spaces."
output_string = replace_spaces(input_string)
print(output_string)

This is an example with multiple spaces.

In [39]:
##  34 . Check if a string is a valid URL.
string34 = "https://www.example.com"
if string34.startswith("http://") or string34.startswith("https://"):
    print("The string is a valid URL.")
else:
    print("The string is not a valid URL.")

The string is a valid URL.

In [40]:
##  35 Extract the protocol (http or https) from a URL string.
string35 = "https://www.example.com"
protocol = string35.split("://")[0]
print(f"The protocol is {protocol}")

The protocol is https

In [1]:
##  36 Find the frequency of each character in a string.
string36 = "Finding the frequency of each character in a string"
frequency = {}
for char in string36:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1
print("The frequency of each character in a string is ",frequency)

The frequency of each character in a string is  {'F': 1, 'i': 4, 'n': 5, 'd': 1, 'g': 2, ' ': 8, 't': 3, 'h': 3, 'e': 5, 'f': 2, 'r': 4, 'q': 1, 'u': 1, 'c': 4, 'y': 1, 'o': 1, 'a': 4, 's': 1}

In [13]:
##  37 Remove all punctuation from a string.
import string
def remove_punctuation(input_string):
    no_punc = ''.join([char for char in input_string if char not in string.punctuation])
    return no_punc

input_string = "Hello!! It's, a pwskills class & thought by sudhanshu sir."
result = remove_punctuation(input_string)
print(result)

Hello Its a pwskills class  thought by sudhanshu sir

In [3]:
##   38 Check if a string contains only digits.
def only_digits(input_string):
    return input_string.isdigit()

string_1 = "abc123"
string_2 = "1234"

print("Is string_1 is digit only ",only_digits(string_1))
print("Is string_2 is digit only ",only_digits(string_2))

Is string_1 is digit only  False
Is string_2 is digit only  True

In [4]:
##   39 Check if a string contains only alphabets.
def only_alphabets(input_string):
    return input_string.isalpha()

string_1 = "abc"
string_2 = "1234"

print("Is string_1 is alphabet only ",only_alphabets(string_1))
print("Is string_2 is alphabet only ",only_alphabets(string_2))

Is string_1 is alphabet only  True
Is string_2 is alphabet only  False

In [5]:
##  40 Convert a string to a list of characters.
string40 = "pwskills classes"
list_1 = []

for char in string40:
    list_1.append(char)

print(list_1)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's', ' ', 'c', 'l', 'a', 's', 's', 'e', 's']

In [6]:
##  41 Check if two strings are anagrams.

def are_anagrams(str1, str2):
  # Remove spaces and convert to lowercase for case-insensitive comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

  # Check if the sorted strings are the same
    return sorted(str1) == sorted(str2)

# Example usage
string1 = "Listen"
string2 = "Silent"
string3 = "Hello"
string4 = "Hola"

print(are_anagrams(string1, string2))
print(are_anagrams(string1, string3))
print(are_anagrams(string3, string4))

True
False
False

In [7]:
##  42 Encode a string using a Caesar cipher.
def caesar_cipher_encode(input_string, shift):
    result = ""
    
    for char in input_string:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()

            # Shift the character by the specified amount
            char_code = ord(char) + shift

            # Ensure the character remains within the alphabet range
            if is_upper:
                char_code = (char_code - ord('A')) % 26 + ord('A')
            else:
                char_code = (char_code - ord('a')) % 26 + ord('a')

            # Append the encoded character to the result
            result += chr(char_code)
        else:
            # Preserve non-alphabetic characters unchanged
            result += char

    return result

# Example usage
plaintext = "Hello, world!"
shift_amount = 3
ciphertext = caesar_cipher_encode(plaintext, shift_amount)
print(ciphertext)

Khoor, zruog!

In [18]:
##   43 Decode a Caesar cipher encoded string.
def caesar_cipher_decode(encoded_string, shift):
  def caesar_cipher_encode(input_string, shift):
    result = ""

    for char in input_string:
      if char.isalpha():
          # Determine whether the character is uppercase or lowercase
          is_upper = char.isupper()

          # Shift the character by the specified amount
          char_code = ord(char) + shift

          # Ensure the character remains within the alphabet range
          if is_upper:
              char_code = (char_code - ord('A')) % 26 + ord('A')
          else:
              char_code = (char_code - ord('a')) % 26 + ord('a')

          # Append the encoded character to the result
          result += chr(char_code)
      else:
          # Preserve non-alphabetic characters unchanged
          result += char

    return result
  # Use the negative of the shift to reverse the encoding
  return caesar_cipher_encode(encoded_string, -shift)

# Reusing the caesar_cipher_encode function from the previous example

# Example usage
encoded_text = "Khoor, zruog!"
shift_amount = 3
decoded_text = caesar_cipher_decode(encoded_text, shift_amount)
print(decoded_text)

Hello, world!

In [19]:
##  44 Find the most frequent word in a string.

def most_frequent_word(input_string):
  # Split the input string into words
  words = input_string.lower().split()

  # Create a dictionary to store word frequencies
  word_freq = {}
  for word in words:
      # Remove punctuation if needed
      word = word.strip('.,!?')

      # Update the frequency in the dictionary
      word_freq[word] = word_freq.get(word, 0) + 1

  # Find the word with the highest frequency
  most_common_word = max(word_freq, key=word_freq.get)
  frequency = word_freq[most_common_word]

  return most_common_word, frequency

# Example usage
text = "This is an example sentence. This sentence contains repeated words, and the most frequent word is 'sentence'."
result_word, result_frequency = most_frequent_word(text)

print(f"The most frequent word is '{result_word}' with a frequency of {result_frequency} times.")

The most frequent word is 'this' with a frequency of 2 times.

In [20]:
##  45 . Find all unique words in a string.
def unique_words(input_string):
  # Split the input string into words
  words = input_string.lower().split()
  unique_words = set(words)
  return unique_words
# Example usage
text = "This is an example sentence. This sentence contains repeated words, and the most Unique word is 'sentence'."
unique_word = unique_words(text)
print("Unique words are ")
print(unique_word)

Unique words are
{'repeated', 'unique', 'an', 'contains', 'word', 'is', 'example', 'most', 'sentence', 'the', "'sentence'.", 'and', 'this', 'sentence.', 'words,'}

In [22]:
##   46  Count the number of syllables in a string.
def count_syllables(input_string):
  # Split the input string into words
  words = input_string.lower().split()

  # Initialize the count of syllables
  syllable_count = 0
  for word in words:
      # Count the number of vowels in the word
      vowel_count = 0
      for char in word:
          if char in 'aeiouy':
              vowel_count += 1
                  # Count the number of consonants in the word
      consonant_count = len(word) - vowel_count
      # Count the number of syllables in the word
      syllable_count += (vowel_count // 2) + (consonant_count // 6)
    # Return the total number of syllables
  return syllable_count
  # Example usage
text = "This is an example sentence. This sentence contains repeated words, and the most Unique word is 'sentence'."
syllable_count = count_syllables(text)
print(f"The sentence contains {syllable_count} syllables.")

The sentence contains 11 syllables.

In [23]:
##  47 Check if a string contains any special characters.
def contains_special_characters(input_string):
  # Split the input string into characters
  characters = list(input_string)
  # Check if any of the characters is not a letter or digit
  for char in characters:
      if not (char.isalpha() or char.isdigit()):
          return True
  return False
# Example usage
text = "Pwskills !! Hello $."
result = contains_special_characters(text)
print(result)

True

In [24]:
##  48 Remove the nth word from a string.
def remove_nth_word(input_string, n):
  # Split the input string into words
  words = input_string.split()

  # Check if n is a valid index
  if 1 <= n <= len(words):
      # Remove the nth word
      del words[n - 1]

      # Join the remaining words back into a string
      result_string = ' '.join(words)

      return result_string
  else:
      # If n is an invalid index, return the original string
      return input_string

# Example usage
original_string = "This is an example sentence."
n = 3
modified_string = remove_nth_word(original_string, n)
print(modified_string)

This is example sentence.

In [25]:
##  49 Insert a word at the nth position in a string.
def insert_word_at_nth_position(original_string, n, word_to_insert):
  # Split the input string into words
  words = original_string.split()

  # Check if n is a valid index
  if 1 <= n <= len(words) + 1:
      # Insert the word at the nth position
      words.insert(n - 1, word_to_insert)

      # Join the modified words back into a string
      modified_string = ' '.join(words)

      return modified_string
  else:
      # If n is an invalid index, return the original string
      return original_string

# Example usage
original_string = "This is an example sentence."
n = 3
word_to_insert = "new"
modified_string = insert_word_at_nth_position(original_string, n, word_to_insert)
print(modified_string)

This is new an example sentence.

In [26]:
##   50  Convert a CSV string to a list of lists.
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Use the csv.reader to parse the CSV string
    csv_reader = csv.reader(StringIO(csv_string))

    # Convert the csv.reader object to a list of lists
    csv_list = list(csv_reader)

    return csv_list

# Example usage
csv_string = "Name, Age, City\nJohn, 25, New York\nJane, 30, Los Angeles\nBob, 22, Chicago"
csv_list = csv_string_to_list(csv_string)

# Display the resulting list of lists
for row in csv_list:
    print(row)

['Name', ' Age', ' City']
['John', ' 25', ' New York']
['Jane', ' 30', ' Los Angeles']
['Bob', ' 22', ' Chicago']

#####       LIST BASED PRACTICE PROBLEM    #########

In [27]:
##  1. Create a list with integers from 1 to 10.
list_create = [i for i in range(1,11)]  # Using the list comprehension.
print("A list with integers from 1 to 10 is : ")
print(list_create)

A list with integers from 1 to 10 is :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
##  2. Find the length of a list without using the `len()` function.
list_1 = [1,2,3,4,5,6,6,7,8,9,10]
def list_len(list_1):
    length_1 = 0
    for i in list_1: # Iterate the value if the list
        length_1 +=1  # Counting the element of the list as length of the list.

    return length_1

print("The length of the lsit_1 is :",list_len(list_1))

The length of the lsit_1 is : 11

In [29]:
##  3. Append an element to the end of a list.
list_2 = [2,3,1,2,32,1,23,24,4]
list_2.append(100)  # Append an element at the last of the list.
print("The list after appending an element at the last is :",list_2)

The list after appending an element at the last is : [2, 3, 1, 2, 32, 1, 23, 24, 4, 100]

In [30]:
##  4. Insert an element at a specific index in a list.
list_2 = [2,3,1,2,32,1,23,24,4]
list_2.insert(4,4000000)
print("After inserting an element at a specific index in list is ",list_2)

After inserting an element at a specific index in list is  [2, 3, 1, 2, 4000000, 32, 1, 23, 24, 4]

In [31]:
##   5. Remove an element from a list by its value.
list_2 = [2,3,1,2,3200000,1,23,24,4]
list_2.remove(3200000)
print("A list after removing an element by value is ",list_2)

A list after removing an element by value is  [2, 3, 1, 2, 1, 23, 24, 4]

In [32]:
##  6. Remove an element from a list by its index.
list_2 = [2,3,1,2,3200000,1,23,24,4]
list_2.pop(4)
print("A list after removing an element from a list by its index is ",list_2)

A list after removing an element from a list by its index is  [2, 3, 1, 2, 1, 23, 24, 4]

In [33]:
##  7. Check if an element exists in a list.
def element_exists(list_3,element):
        if element in list_3:
            print("The element exists in the list_3")
        else:
            print("The element doesn't exists in the list_3")

list_3 = [1,2,3,4,5,6,7,8,9,10]
element = 6
element_exists(list_3,element)

The element exists in the list_3

In [34]:
##  8. Find the index of the first occurrence of an element in a list.
def first_occurence(list_4,element):
    for i in range(len(list_4)):
        if (list_4[i] == element) :
            print(f"The 1st occurence of {element} element index is ",i)
            return
    print(f"The element {element} didn't exist's in the list")

list_4 = [1,2,3,4,56,78,9,10,12,32]
element = 78
first_occurence(list_4,element)

The 1st occurence of 78 element index is  5

In [35]:
##  9. Count the occurrences of an element in a list.
def count_occurence(list_5,element):
    count = 0
    for i in range(len(list_5)):
        if (list_5[i] == element) :
            count +=1
    if count > 0:
        print(f"The element {element} occurs {count} times in the list.")
    else:
        print(f"The element {element} doesn't exist in the list.")
list_5 = [1,2,3,45,6,1,2,3,45,6,7,89,9,10,12,2,1,3,3,4]
element = 2
count_occurence(list_5,element)

The element 2 occurs 3 times in the list.

In [36]:
##  10. Reverse the order of elements in a list.
def reverse_list(list_6):
    return list_6[::-1]

list_6 = [1, 2, 3, 45, 6, 7, 89, 10]
result = reverse_list(list_6)
print("The reversed list is", result)

The reversed list is [10, 89, 7, 6, 45, 3, 2, 1]

In [37]:
##  11. Sort a list in ascending order.
list_7 = [32, 45, 65, 34, 76, 89, 90]
sorted_list = sorted(list_7)
print("The sorted list is ",sorted_list)

The sorted list is  [32, 34, 45, 65, 76, 89, 90]

In [38]:
##  12. Sort a list in descending order.
list_7 = [32, 45, 65, 34, 76, 89, 90]

# Using sort method
list_7.sort(reverse=True)

print("The sorted list in descending order is", list_7)

The sorted list in descending order is [90, 89, 76, 65, 45, 34, 32]

In [39]:
##  13. Create a list of even numbers from 1 to 20.
def even_num_list():
    even_list = []
    for i in range(1,21):
        if i%2 == 0:
            even_list.append(i)
    return even_list

print("The even number list is ",even_num_list())

The even number list is  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [40]:
##  14. Create a list of odd numbers from 1 to 20.
def odd_num_list():
    odd_list = []
    for i in range(1,21):
        if i%2 != 0:
            odd_list.append(i)
    return odd_list

print("The odd number list is ",odd_num_list())

The odd number list is  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [41]:
##  15. Find the sum of all elements in a list.
def sum_of_element(list_8):
    sum_list = 0
    for num in list_8:
        sum_list +=num
    return sum_list

list_8 = [44,5,55,66,12,33,34,32,67,6,8,89,98]
print("The sum of all element of the list is ",sum_of_element(list_8))

The sum of all element of the list is  549

In [42]:
##  16. Find the maximum value in a list.
list_8 = [44, 5, 55, 66, 12, 33, 34, 32, 67, 6, 8, 89, 98]

def max_in_list(list_8):
    max_num = list_8[0]

    for i in range(1, len(list_8)):
        if list_8[i] > max_num:
            max_num = list_8[i]

    return max_num

print("The maximum value in the list is", max_in_list(list_8))

The maximum value in the list is 98

In [44]:
##  17. Find the minimum value in a list.
list_9 = [10,2,3,4,6,4,5,8]
def min_in_list(list_9):
    min_num = list_9[0]
    for i in range(1,len(list_9)):
        if list_9[i] < min_num:
            min_num = list_9[i]

    return min_num
print("The minimum value in the list is ",min_in_list(list_9))

The minimum value in the list is  2

In [45]:
##  18. Create a list of squares of numbers from 1 to 10.
sqr_list = [i*i for i in range(1,11)]   # Creating a list of square by list comprehension.
print("The list of square is ",sqr_list)

The list of square is  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [46]:
##   19. Create a list of random numbers.
import random
random_list = [random.randint(1,100) for i in range(10)]

print("Random list: ",random_list)

Random list:  [9, 96, 57, 22, 85, 93, 65, 71, 66, 63]

In [47]:
##  20. Remove duplicates from a list.
list_10 = [1,2,4,5,4,5,1,2]

def remove_duplicate(list_10):
    unique_list = list(set(list_10))
    return unique_list
result_list = remove_duplicate(list_10)
print("The list after removing of duplicates :",result_list)

The list after removing of duplicates : [1, 2, 4, 5]

In [48]:
##  21. Find the common elements between two lists.
list_10 =  [1,2,3,4,5,6,7,8]
list_9 = [10,2,3,4,6,4,5,8]
def common_list(list_10,list_9):
    common_element_list = []
    for i in range(len(list_10)):
        common_element = list_10[i]
        for j in range(len(list_9)):
            if common_element == list_9[j]:
                common_element_list.append(list_9[j])

    return set(list(common_element_list))

print("The common element between two list is :",common_list(list_10,list_9))

The common element between two list is : {2, 3, 4, 5, 6, 8}

In [49]:
##  22. Find the difference between two lists.
list_10 = [1, 2, 3, 4, 5, 6, 7, 8]
list_9 = [10, 2, 3, 4, 6, 4, 5, 8]

def list_difference(list_1, list_2):
    set_1 = set(list_1)
    set_2 = set(list_2)

    difference_1 = list(set_1 - set_2)
    difference_2 = list(set_2 - set_1)

    return difference_1, difference_2

result_difference_1, result_difference_2 = list_difference(list_10, list_9)

print("Elements unique to list_10:", result_difference_1)
print("Elements unique to list_9:", result_difference_2)

Elements unique to list_10: [1, 7]
Elements unique to list_9: [10]

In [50]:
##  23. Merge two lists.
list_10 = [1, 2, 3, 4, 5, 6, 7, 8]
list_9 = [10, 9,11,12]

list_10.extend(list_9)
print("The two list after merge ",sorted(list_10))

The two list after merge  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [51]:
##  24. Multiply all elements in a list by 2.
list_9 = [10, 9,11,12]
result = [element*2 for element in list_9]
print("The list after multiply by 2 is :",result)

The list after multiply by 2 is : [20, 18, 22, 24]

In [52]:
##  25. Filter out all even numbers from a list.
list_10 = [1, 2, 3, 4, 5, 6, 7, 8]
result = [element for element in list_10 if element%2 == 0]
print("All even numbers from a list :",result)

All even numbers from a list : [2, 4, 6, 8]

In [53]:
##  26. Convert a list of strings to a list of integers.
string_list = ["1","2","3","4","5","6"]
integer_list = [int(x) for x in string_list]
print("String list",string_list,"after conversion into integer list ",integer_list)

String list ['1', '2', '3', '4', '5', '6'] after conversion into integer list  [1, 2, 3, 4, 5, 6]

In [54]:
##  27. Convert a list of integers to a list of strings.
integer_list = [1,2,3,4,5,6,7,8,9,10]
string_list = [str(x) for x in integer_list]
print("Integer list ",integer_list,"after conversion into string list ",string_list)

Integer list  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] after conversion into string list  ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [55]:
##  28. Flatten a nested list.
def flatten_list(nested_list):
    flattened_list = []
    for element in nested_list:
        if isinstance(element, list):
            flattened_list.extend(flatten_list(element))
        else:
            flattened_list.append(element)
    return flattened_list

# Example usage:
nested_list = [1, [2, 3, [4, 5]], 6, [7, 8]]
flat_list = flatten_list(nested_list)

print("Nested list:", nested_list)
print("Flattened list:", flat_list)

Nested list: [1, [2, 3, [4, 5]], 6, [7, 8]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

In [56]:
##  29. Create a list of the first 10 Fibonacci numbers.
def fib_num(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib_num(n-1) + fib_num(n-2)

fib_list = [fib_num(num) for num in range(10)]
print("A list of the first 10 Fibonacci numbers:", fib_list)

A list of the first 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [57]:
##  30. Check if a list is sorted.
def is_sorted(input_list):
    for i in range(len(input_list) - 1):
        if input_list[i] > input_list[i + 1]:
            return False
    return True

# Example usage:
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [3, 1, 4, 1, 5, 9, 2, 6, 5]

print("Is sorted_list sorted?", is_sorted(sorted_list))
print("Is unsorted_list sorted?", is_sorted(unsorted_list))

Is sorted_list sorted? True
Is unsorted_list sorted? False

In [58]:
##  31. Rotate a list to the left by `n` positions.
def rotate_left(input_list,n):
    length = len(input_list)
    n = n % length  # Handle cases where n is greater than the length of the list
    rotated_list = input_list[n:] + input_list[:n]
    return  rotated_list

original_list = [1,2,3,4,5,6,7]
rotated_list = rotate_left(original_list,3)
print("The original list :",original_list)
print("The rotated list :",rotated_list)

The original list : [1, 2, 3, 4, 5, 6, 7]
The rotated list : [4, 5, 6, 7, 1, 2, 3]

In [59]:
##  32. Rotate a list to the right by `n` positions.
def rotate_right(input_list, n):
    length = len(input_list)
    n = n % length  # Handle cases where n is greater than the length of the list
    rotated_list = input_list[-n : ] + input_list[ : -n]
    return rotated_list

original_list = [1,2,3,4,5,6,7]
rotated_list_1 = rotate_right(original_list,3)
print("The original list :",original_list)
print("The rotated list :",rotated_list_1)

The original list : [1, 2, 3, 4, 5, 6, 7]
The rotated list : [5, 6, 7, 1, 2, 3, 4]

In [60]:
##  33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def generate_primes(limit):
    prime_list = [num for num in range(2, limit) if is_prime(num)]
    return prime_list

# Example usage:
limit = 50
prime_numbers = generate_primes(limit)

print("Prime numbers up to", limit, ":", prime_numbers)

Prime numbers up to 50 : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [61]:
##  34. Split a list into chunks of size `n`.
def split_into_chunks(input_list, chunk_size):
    return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

# Example usage:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Split the list into chunks of size 3
chunked_list = split_into_chunks(original_list, 3)

print("Original list:", original_list)
print("Chunked list:", chunked_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Chunked list: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [62]:
##  35. Find the second largest number in a list.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
largest = None
second_largest = None

for num in my_list:
    if not largest or num > largest:
        if largest:
            second_largest = largest
        largest = num
    elif not second_largest or num > second_largest:
        second_largest = num

print(f"The second largest number in the list is {second_largest}.")

The second largest number in the list is 8.

In [64]:
##  36. Replace every element in a list with its square.
my_list = [1, 2, 3, 4, 5]
for i in range(len(my_list)):
    my_list[i] = my_list[i] ** 2

print(f"The original list: {my_list}")

The original list: [1, 4, 9, 16, 25]

In [65]:
##  37. Convert a list to a dictionary where list elements become keys and their indices become values.
my_LIST = ["APPLE","BANAna","grapes","gauva","cherry"]
my_dict = {my_LIST[i] : i for i in range(len(my_LIST))}
print("list into dictionary conversion",my_dict)

list into dictionary conversion {'APPLE': 0, 'BANAna': 1, 'grapes': 2, 'gauva': 3, 'cherry': 4}

In [66]:
##   38. Shuffle the elements of a list randomly.
import random
my_list = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(my_list)
print(my_list)

[5, 2, 10, 1, 7, 6, 3, 9, 8, 4]

In [67]:
##  39. Create a list of the first 10 factorial numbers.

def fact_num(num):
    if num == 0 or num == 1:
        return 1
    else:
        return num * fact_num(num-1)

fact_list = [fact_num(num) for num in range(10)]
print("The list of first 10 factorial numbers ",fact_list)

The list of first 10 factorial numbers  [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [68]:
##  40. Check if two lists have at least one element in common.
list_1 = [10,1,21,14,13,15,16]
list_2 = [1,2,3,4,5,6,7,8]
def common_element(list_1,list_2):
    for i in list_1:
        if i in list_2:
            return True
        
    return False
        
result = common_element(list_1,list_2)
print("Is there at least one element common in two lists: ",result)

Is there at least one element common in two lists:  True

In [69]:
##  41. Remove all elements from a list.
list_1 = [10,1,21,14,13,15,16]
list_1.clear()
print("List 1 after removing all elements from a list",list_1)

List 1 after removing all elements from a list []

In [70]:
##  42. Replace negative numbers in a list with 0.
def replace_neg(list_1):
    for i in range(len(list_1)):
        if list_1[i] < 0 :
            list_1[i] = 0
    return list_1

list_1 = [1,2,-2,-4,-6,7,8,9,10]
neg_replace_with_zero = replace_neg(list_1)
print("The list after replaing negative number with zero",neg_replace_with_zero)

The list after replaing negative number with zero [1, 2, 0, 0, 0, 7, 8, 9, 10]

In [71]:
##  43. Convert a string into a list of words.
string_1 = "Apple is a fruit which is found in himalayan region."
str_into_list = string_1.split()
print("The string converting a list of words :",str_into_list)

The string converting a list of words : ['Apple', 'is', 'a', 'fruit', 'which', 'is', 'found', 'in', 'himalayan', 'region.']

In [72]:
##  44. Convert a list of words into a string.
string_1 =  ['Apple', 'is', 'a', 'fruit', 'which', 'is', 'found', 'in', 'himalayan', 'region.']
list_into_str = (" ".join(string_1))
print("A list of words converting into a sring :",list_into_str)

A list of words converting into a sring : Apple is a fruit which is found in himalayan region.

In [73]:
##  45. Create a list of the first `n` powers of 2.
n = 10
power_of_two_list = [2 ** i for i in range(n)]
print("The first 'n' powers of 2 are :",power_of_two_list)

The first 'n' powers of 2 are : [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [74]:
##  46. Find the longest string in a list of strings.
# Function to find the longest string in a list
def longest_string(lst):
    if not lst:
        return "List is empty"
    
    max_length = 0
    longest_str = ""

    for string in lst:
        if isinstance(string, str):  # Check if the element is a string
            if len(string) > max_length:
                max_length = len(string)
                longest_str = string

    if not longest_str:
        return "No valid string found in the list"

    return longest_str

# Example: List of strings
string_list = ["apple", "banana", "kiwi", "orange", "strawberry", "blueberry"]

# Find and display the longest string
result = longest_string(string_list)
print("Longest string in the list:", result)

Longest string in the list: strawberry

In [75]:
##  47. Find the shortest string in a list of strings.
# Function to find the shortest string in a list
def shortest_string(lst):
    if not lst:
        return "List is empty"
    
    min_length = float('inf')
    shortest_str = ""

    for string in lst:
        if isinstance(string, str):  # Check if the element is a string
            if len(string) < min_length:
                min_length = len(string)
                shortest_str = string

    if not shortest_str:
        return "No valid string found in the list"

    return shortest_str

# Example: List of strings
string_list = ["apple", "banana", "kiwi", "orange", "strawberry", "blueberry"]

# Find and display the shortest string
result = shortest_string(string_list)
print("Shortest string in the list:", result)

Shortest string in the list: kiwi

In [76]:
##  48. Create a list of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]
    return triangular_numbers

# Example: Generating the first 5 triangular numbers
n = 5
triangular_numbers_list = generate_triangular_numbers(n)
print("List of the first {} triangular numbers:".format(n), triangular_numbers_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [77]:
##   49. Check if a list contains another list as a subsequence.
def is_subsequence(list1, list2):
    # Initialize indices for both lists
    i, j = 0, 0

    # Iterate through list1 to check if list2 is a subsequence
    while i < len(list1) and j < len(list2):
        if list1[i] == list2[j]:
            j += 1  # Move to the next element in list2
        i += 1  # Move to the next element in list1

    # If all elements of list2 are found in order, it is a subsequence
    return j == len(list2)

# Example usage:
list1 = [1, 2, 3, 4, 5, 6, 7, 8]
list2 = [3, 5, 7]

result = is_subsequence(list1, list2)
print("Is list2 a subsequence of list1?", result)   #Checking list is subsequence or not.

Is list2 a subsequence of list1? True

In [78]:
##  50. Swap two elements in a list by their indices.
    
def swap_elements(lst, index1, index2):
    # Check if indices are valid
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        # Swap the elements at the specified indices
        lst[index1], lst[index2] = lst[index2], lst[index1]
    else:
        print("Invalid indices provided.")

# Example usage:
my_list = [1, 2, 3, 4, 5]
print("Original list:", my_list)

# Swap elements at indices 1 and 3
swap_elements(my_list, 1, 3)
print("List after swapping elements at indices 1 and 3:", my_list)

Original list: [1, 2, 3, 4, 5]
List after swapping elements at indices 1 and 3: [1, 4, 3, 2, 5]

# ###########     TUPLE BASED PRACTICE PROBLEM      #############

In [79]:
##  1. Create a tuple with integers from 1 to 5.
tuple_1 = tuple(i for i in range(1,6))
print("A tuple with integer from 1 to 5 :",(tuple_1))

A tuple with integer from 1 to 5 : (1, 2, 3, 4, 5)

In [80]:
##  2. Access the third element of a tuple.
tuple_1 = (1,2,3,4,5,6,7,8)
print("The 3rd element of a tuple is ",tuple_1[2])

The 3rd element of a tuple is  3

In [81]:
##  3. Find the length of a tuple without using the `len()` function.
tuple_1 = (1,2,3,4,5,6,7,8)
def tuple_length(tuple_1):
    length = 0
    for i in tuple_1:
        length += 1
    return length

print("The length of the tuple is ",tuple_length(tuple_1))

The length of the tuple is  8

In [82]:
##  4. Count the occurrences of an element in a tuple.
tuple1 = (1,2,3,1,2,3,12,3)
# Element to count occurences
element_to_count = 1

# Count occurencesof the element
occurrences = tuple1.count(element_to_count)

print("Occurrences of {} is : {} times".format(element_to_count, occurrences))

Occurrences of 1 is : 2 times

In [83]:
##  5. Find the index of the first occurrence of an element in a tuple.
# Create a tuple
my_tuple = (1, 2, 3, 4, 1, 1, 5, 2)

# Element to find the index
element_to_find = 1

try:
    # Find the index of the first occurrence of the element
    index_of_first_occurrence = my_tuple.index(element_to_find)

    # Print the result
    print("Index of the first occurrence of {}: {}".format(element_to_find, index_of_first_occurrence))
except ValueError:
    print("{} not found in the tuple.".format(element_to_find))

Index of the first occurrence of 1: 0

In [84]:
##  6. Check if an element exists in a tuple.
# Create a tuple
my_tuple = (1, 2, 3, 4, 1, 1, 5, 2)

# Element to check existence
element_to_check = 3

# Check if the element exists in the tuple
if element_to_check in my_tuple:
    print("{} exists in the tuple.".format(element_to_check))
else:
    print("{} does not exist in the tuple.".format(element_to_check))

3 exists in the tuple.

In [85]:
##  7. Convert a tuple to a list.
my_tuple = (1, 2, 3, 4, 1, 1, 5, 2)
print("After converting a tuple to a list ",list(my_tuple))

After converting a tuple to a list  [1, 2, 3, 4, 1, 1, 5, 2]

In [86]:
##  8. Convert a list to a tuple.
my_list = [1,2,3,1,2,3,1,3,3,1,4,5,6,7,8,9,10]
print("A list after converting into a tuple ",tuple(my_list))

A list after converting into a tuple  (1, 2, 3, 1, 2, 3, 1, 3, 3, 1, 4, 5, 6, 7, 8, 9, 10)

In [87]:
##  9. Unpack the elements of a tuple into variables.
my_tuple = (10, 20, 30)
# Unpack the elements into variables
var1, var2, var3 = my_tuple

print("Unpacked variables:", var1, var2, var3)

Unpacked variables: 10 20 30

In [88]:
##  10. Create a tuple of even numbers from 1 to 10.
even_num_tuple = tuple(i for i in range(1,11) if i % 2 == 0)
print("The even number tuple :",even_num_tuple)

The even number tuple : (2, 4, 6, 8, 10)

In [89]:
##  11. Create a tuple of odd numbers from 1 to 10.
odd_num_tuple  = tuple(i for i in range(1,11) if i % 2 != 0)
print("The odd number tuple :",odd_num_tuple)

The odd number tuple : (1, 3, 5, 7, 9)

In [90]:
##  12. Concatenate two tuples.
tuple1 = (1,2,3,4,5,6,7,8)
tuple2 = ('a','e','i','o','u')
concatenate_tuple = tuple1 + tuple2
print("After concatenating two tuples",concatenate_tuple)

After concatenating two tuples (1, 2, 3, 4, 5, 6, 7, 8, 'a', 'e', 'i', 'o', 'u')

In [91]:
##  13. Repeat a tuple three times.
tuple1 = (1,2,3,4,5,6,7,8)
three_time_tuple = 3 * tuple1
print("Three times tuple is :",three_time_tuple)

Three times tuple is : (1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)

In [93]:
##  14. Check if a tuple is empty.
# Create an empty tuple
empty_tuple = (2)

# Check if the tuple is empty
if not bool(empty_tuple):
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is not empty.

In [94]:
##  15. Create a nested tuple.
# Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (4, 5, 6))

# Print the nested tuple
print("The nested tuple:", nested_tuple)

The nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (4, 5, 6))

In [95]:
##  16. Access the first element of a nested tuple.
# Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (4, 5, 6))

# Access the first element of the nested tuple
first_element = nested_tuple[0]

# Print the result
print("The first element of the nested tuple:", first_element)

The first element of the nested tuple: (1, 2, 3)

In [96]:
##  17. Create a tuple with a single element.
single_element_tuple = (2,)
# Creating a tuple with a single element.
print(type(single_element_tuple))  # Type casting

<class 'tuple'>

In [97]:
##  18. Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Compare the tuples
if tuple1 == tuple2:
    print("Both Tuples are equal.")
else:
    print("Both Tuples are not equal.")

Both Tuples are equal.

In [98]:
##  19. Delete a tuple.
tuple_1 = (2,1,34,5,3,53,2,68,68,90,10)
del tuple_1
print(tuple_1)

NameError: name 'tuple_1' is not defined

In [99]:
##  20. Slice a tuple.
tuple_1 = (2,1,34,5,3,53,2,68,68,90,10)
sliced_tuple = tuple_1[2:6]
print("Sliced Tuple :",sliced_tuple)

Sliced Tuple : (34, 5, 3, 53)

In [100]:
##  21. Find the maximum value in a tuple.
tuple_1 = (2,1,34,5,3,53,2,68,68,90,10)
def max_value(tuple_1):
    max_num = tuple_1[0]
    for i in range(len(tuple_1)):
        if tuple_1[i] > max_num :
            max_num = tuple_1[i]
    return max_num

print("The maximum value in a tuple :",max_value(tuple_1))

The maximum value in a tuple : 90

In [101]:
##  22. Find the minimum value in a tuple.
tuple_1 = (2,1,34,5,3,53,2,68,68,90,10)
def min_value(tuple_1):
    min_num = tuple_1[0]
    for i in range(len(tuple_1)):
        if tuple_1[i] < min_num :
            min_num = tuple_1[i]
    return min_num

print("The minimum value in a tuple :",min_value(tuple_1))

The minimum value in a tuple : 1

In [103]:
##  23. Convert a string to a tuple of characters.
string_3 = "I am pwskills student."
tuple_str = tuple(string_3.split())
print("After converting a string to a tuple of characters",tuple_str)

After converting a string to a tuple of characters ('I', 'am', 'pwskills', 'student.')

In [104]:
##  24. Convert a tuple of characters to a string.
str_tuple = ('I', 'am', 'pwskills', 'student.')
tuple_to_str = (" ".join(str_tuple))
print("After conversion of tuple of characters to a string ",tuple_to_str)

After conversion of tuple of characters to a string  I am pwskills student.

In [105]:
##  25. Create a tuple from multiple data types.
tuple_diff_data = ("string",1234,True,123456.78,[5,6]) #Creating tuple with multiple data types
print("A tuple with multiple data types ",tuple_diff_data)

A tuple with multiple data types  ('string', 1234, True, 123456.78, [5, 6])

In [106]:
##  26. Check if two tuples are identical.
# Define two tuples
tuple1 = (1, 2, 3, "apple")
tuple2 = (1, 2, 3, "apple")

# Check if two tuples are identical
are_identical = tuple1 == tuple2

# Display the result
print("Are the two tuples identical?", are_identical)

Are the two tuples identical? True

In [107]:
##  27. Sort the elements of a tuple.
tuple_4 = (4,5,7,9,1,23,4,5,78)
sorted_tuple = tuple(sorted(list(tuple_4)))
print("The sorted elements of a tuple ",sorted_tuple)

The sorted elements of a tuple  (1, 4, 4, 5, 5, 7, 9, 23, 78)

In [108]:
##  28. Convert a tuple of integers to a tuple of strings.
# Define a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
tuple_of_strings = tuple(map(str, tuple_of_integers))

# Display the original tuple and the converted tuple
print("Original Tuple of Integers:", tuple_of_integers)
print("Tuple of Strings:", tuple_of_strings)

Original Tuple of Integers: (1, 2, 3, 4, 5)
Tuple of Strings: ('1', '2', '3', '4', '5')

In [109]:
##  29. Convert a tuple of strings to a tuple of integers.
# Define a tuple of strings
tuple_of_strings = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers
tuple_of_integers = tuple(map(int, tuple_of_strings))

# Display the original tuple and the converted tuple
print("Original Tuple of Strings:", tuple_of_strings)
print("Tuple of Integers:", tuple_of_integers)

Original Tuple of Strings: ('1', '2', '3', '4', '5')
Tuple of Integers: (1, 2, 3, 4, 5)

In [110]:
##  30. Merge two tuples.
# Initialize two tuples
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)

# Merge the tuples
tuple3 = tuple1 + tuple2

# Print the merged tuple
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [111]:
##  31. Flatten a nested tuple.
from itertools import chain

# Define a nested tuple
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

# Flatten the nested tuple
flattened_tuple = tuple(chain(*nested_tuple))

# Display the original nested tuple and the flattened tuple
print("Original Nested Tuple:", nested_tuple)
print("Flattened Tuple:", flattened_tuple)

Original Nested Tuple: ((1, 2, 3), (4, 5, 6), (7, 8, 9))
Flattened Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [112]:
##  32. Create a tuple of the first 5 prime numbers.
# Function to check if a number is prime
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate a tuple of the first 5 prime numbers using a loop
prime_numbers = tuple(num for num in range(2, 20) if is_prime(num))[:5]

# Display the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [113]:
##  33. Check if a tuple is a palindrome.
# Define a function to check if a tuple is a palindrome
def is_palindrome(tuple_to_check):
    return tuple_to_check == tuple_to_check[::-1]

# Test the function with an example
example_tuple = (1, 2, 3, 2, 1)
result = is_palindrome(example_tuple)

# Display the result
print("Is the tuple a palindrome?", result)

Is the tuple a palindrome? True

In [114]:
##  34. Create a tuple of squares of numbers from 1 to 5.
sqr_tuple = (i**2 for i in range(1,6))
print("The square of the numbers 1-5 is ",tuple(sqr_tuple))

The square of the numbers 1-5 is  (1, 4, 9, 16, 25)

In [115]:
##  35. Filter out all even numbers from a tuple.
# Function to check if a number is odd
def is_odd(num):
    return num % 2 != 0

# Original tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers from the tuple
filtered_tuple = tuple(filter(is_odd, original_tuple))

# Display the original and filtered tuples
print("Original Tuple:", original_tuple)
print("Filtered Tuple (Odd numbers only):", filtered_tuple)

Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Filtered Tuple (Odd numbers only): (1, 3, 5, 7, 9)

In [116]:
##  36. Multiply all elements in a tuple by 2.
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements in the tuple by 2
multiplied_tuple = tuple(element * 2 for element in original_tuple)

# Display the original and multiplied tuples
print("Multiplied Tuple Each element by 2):", multiplied_tuple)

Multiplied Tuple Each element by 2): (2, 4, 6, 8, 10)

In [117]:
##  37. Create a tuple of random numbers.
import random
random_tuple  = tuple(random.randint(1,100) for i in range(5))
print("Random numbers :",random_tuple)

Random numbers : (46, 19, 68, 66, 97)

In [118]:
##  38. Check if a tuple is sorted.
# Function to check if a tuple is sorted
def is_sorted(tuple_to_check):
    return tuple_to_check == tuple(sorted(tuple_to_check))

# Test the function with an example
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 2, 1, 4, 3)

# Display the results
print("Is the sorted tuple sorted?", is_sorted(sorted_tuple))
print("Is the unsorted tuple sorted?", is_sorted(unsorted_tuple))

Is the sorted tuple sorted? True
Is the unsorted tuple sorted? False

In [119]:
##  39. Rotate a tuple to the left by `n` positions.
def rotate_left(tuple_1,k):
    n = len(tuple_1)
    if k < 0 :
        return "Invalid please input positive value for rotation"
    elif k <= 0:
        return tuple_1
    else:
        return tuple_1[k : n] + tuple_1[ : k]
    
tuple_1 = (1,2,3,4,5,6,7,8,9,10)
times_of_rotate = 3
print("The original tuple ",tuple_1)
print("The tuple after K_th times rotation ",rotate_left(tuple_1,times_of_rotate))

The original tuple  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
The tuple after K_th times rotation  (4, 5, 6, 7, 8, 9, 10, 1, 2, 3)

In [120]:
##  40. Rotate a tuple to the right by `n` positions.
def rotate_right(tuple_1, k):
    if k < 0:
        return "Invalid input value, please give a positive number"
    elif k <= 0:
        return tuple_1
    else:
        return tuple_1[-k: ] + tuple_1[ :-k]

tuple_1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
times_of_rotate = 6
print("The tuple after {}-th times of rotation:".format(times_of_rotate), rotate_right(tuple_1, times_of_rotate))

The tuple after 6-th times of rotation: (5, 6, 7, 8, 9, 10, 1, 2, 3, 4)

In [121]:
##   41. Create a tuple of the first 5 Fibonacci numbers.
# Using memoization to optimize Fibonacci calculation
memo = {}

def fib_num(n):
    if n < 0:
        return "Invalid, n is negative"
    elif n == 0 or n == 1:
        return n
    elif n in memo:
        return memo[n]
    else:
        result = fib_num(n-1) + fib_num(n-2)
        memo[n] = result
        return result

# Create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = tuple(fib_num(i) for i in range(5))

# Display the tuple
print("Tuple of the first 5 Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

In [124]:
##  42. Create a tuple from user input.
# Initialize an empty list to store user inputs
user_inputs = []

# Get user input until they enter an empty string
while True:
    user_input = input("Enter a value (press Enter to finish): ")
    
    # Check if the user wants to finish
    if user_input == '':
        break
    
    # Append the user input to the list
    user_inputs.append(user_input)

# Create a tuple from the list of user inputs
user_tuple = tuple(user_inputs)

# Display the tuple
print("Tuple created from user input:", user_tuple)

Enter a value (press Enter to finish):  1
Enter a value (press Enter to finish):  2
Enter a value (press Enter to finish):  3
Enter a value (press Enter to finish):  4
Enter a value (press Enter to finish):  5
Enter a value (press Enter to finish):  6
Enter a value (press Enter to finish):

Tuple created from user input: ('1', '2', '3', '4', '5', '6')

In [125]:
##  43. Swap two elements in a tuple.
def swap_elements(tuple_1, index1, index2):
    # Convert the tuple to a list to make modifications
    list_1 = list(tuple_1)
    
    # Swap the elements at the specified indices
    list_1[index1], list_1[index2] = list_1[index2], list_1[index1]
    
    # Convert the list back to a tuple
    new_tuple = tuple(list_1)
    
    return new_tuple

# Example tuple
tuple_example = (1, 2, 3, 4, 5,6,7,8,9,10)
# Indices to swap
index_to_swap1 = 6
index_to_swap2 = 8

# Swap elements and display the result
new_tuple = swap_elements(tuple_example, index_to_swap1, index_to_swap2)
print("Original tuple:", tuple_example)
print("Tuple after swapping elements at indices {} and {}:".format(index_to_swap1, index_to_swap2), new_tuple)

Original tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple after swapping elements at indices 6 and 8: (1, 2, 3, 4, 5, 6, 9, 8, 7, 10)

In [126]:
##  44. Reverse the elements of a tuple.
tuple_example = (1, 2, 3, 4, 5,6,7,8,9,10)
reversed_tuple = tuple_example[-1:  : -1]
print("The reversed tuple :",reversed_tuple)

The reversed tuple : (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [127]:
##  45. Create a tuple of the first `n` powers of 2.
# Function to create a tuple of the first n powers of 2
def powers_of_2(n):
    return tuple(2 ** i for i in range(n))

# Example: Create a tuple of the first 5 powers of 2
n = 5
powers_tuple = powers_of_2(n)

# Display the tuple
print("Tuple of the first {} powers of 2:".format(n), powers_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [128]:
##  46. Find the longest string in a tuple of strings.
# Function to find the longest string in a tuple
def longest_string(tup):
    if not tup:
        return "Tuple is empty"
    
    max_length = 0
    longest_str = ""

    for string in tup:
        if isinstance(string, str):  # Check if the element is a string
            if len(string) > max_length:
                max_length = len(string)
                longest_str = string

    if not longest_str:
        return "No valid string found in the tuple"

    return longest_str

# Example: Tuple of strings
string_tuple = ("apple", "banana", "kiwi", "orange", "strawberry", "blueberry")

# Find and display the longest string
result = longest_string(string_tuple)
print("Longest string in the tuple:", result)

Longest string in the tuple: strawberry

In [129]:
##  47. Find the shortest string in a tuple of strings.
def shortest_str(str_tuple):
    if not str_tuple:
        return "Tuple is empty"
    
    min_len = float('inf')
    short_str = ""
    for string in str_tuple:
        if isinstance(string,str):  # Check if the element is a string
            if len(string) < min_len:
                min_len = len(string)
                short_str = string
    if not short_str:
        return "No Valid string found in the tuple"
    
    return short_str

string_tuple = ("Apple","Banana","1234","Kiwi","Grapes")

result = shortest_str(string_tuple)
print("Shortest string in the tuple :",result)

Shortest string in the tuple : 1234

In [130]:
##  48. Create a tuple of the first `n` triangular numbers.
# Function to create a tuple of the first n triangular numbers
def triangular_numbers(n):
    return tuple((i * (i + 1) // 2) for i in range(1, n + 1))

# Example: Create a tuple of the first 5 triangular numbers
n = 5
triangular_tuple = triangular_numbers(n)

# Display the tuple
print("Tuple of the first {} triangular numbers:".format(n), triangular_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [132]:
##  49. Check if a tuple contains another tuple as a subsequence.
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    main_len = len(main_tuple)
    sub_len = len(sub_tuple)

    for i in range(main_len - sub_len + 1):
        if main_tuple[i:i + sub_len] == sub_tuple:
            return True

    return False

# Example: Check if a tuple contains another tuple as a subsequence
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (4, 5, 6)

# Check and display the result
result = contains_subsequence(main_tuple, sub_tuple)
print("Does the tuple contain another tuple as a subsequence?", result)

Does the tuple contain another tuple as a subsequence? True

In [133]:
##  50. Create a tuple of alternating 1s and 0s of length `n`.
# Function to create a tuple of alternating 1s and 0s of length n
def alternating_tuple(n):
    return tuple(i % 2 for i in range(n))

# Example: Create a tuple of alternating 1s and 0s of length 10
n = 10
alternating_tuple_result = alternating_tuple(n)

# Display the tuple
print("Tuple of alternating 1s and 0s of length {}:".format(n), alternating_tuple_result)

Tuple of alternating 1s and 0s of length 10: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

############      SET BASED PRACTICE PROBLEM        ##############

In [134]:
##  1. Create a set with integers from 1 to 5.
a_set = {1,2,3,4,5}
print("A set of integer from 1 to 5 ",a_set)

A set of integer from 1 to 5  {1, 2, 3, 4, 5}

In [135]:
##  2. Add an element to a set.
a_set = {1,2,3,4,5}
a_set.add(6)
print("The set after adding an element ",a_set)

The set after adding an element  {1, 2, 3, 4, 5, 6}

In [136]:
##  3. Remove an element from a set.
a_set = {1,2,3,4,5}
print(a_set)
remove_element = a_set.pop()

print("Removing an element from a set ",remove_element)
print("Set after removing an element",a_set)

{1, 2, 3, 4, 5}
Removing an element from a set  1
Set after removing an element {2, 3, 4, 5}

In [137]:
##  4. Check if an element exists in a set.
a_set = {1,2,3,4,5}
checking_element = 3
def element_exists(a_set):
    if checking_element in a_set:
        return True 
    else:
        return False
    
result = element_exists(a_set)
print("Does checking element exists in a set ",result)

Does checking element exists in a set  True

In [138]:
##  5. Find the length of a set without using the `len()` function.
def set_len(a_set):
    length = 0
    for i in a_set:
        length += 1

    return length

a_set = {1,2,3,4,5,6,7,8,9,10}
result = set_len(a_set)
print("The length of the set is :",result)

The length of the set is : 10

In [139]:
##  6. Clear all elements from a set.
a_set = {1,2,3,4,5,6,7,8,9,10}
a_set.clear()
print(a_set)    ##  After clearing a set.

set()

In [140]:
##  7. Create a set of even numbers from 1 to 10.
even_set = {num for num in range(1,11) if num%2 == 0}
print("A set of even numbers is :",even_set)

A set of even numbers is : {2, 4, 6, 8, 10}

In [141]:
##  8. Create a set of odd numbers from 1 to 10.
odd_set = {num for num in range(1,11) if num%2 != 0}
print("A set of odd number is :",odd_set)

A set of odd number is : {1, 3, 5, 7, 9}

In [142]:
##  9. Find the union of two sets.
set_1 = {"apple","banana","cherry","kiwi","grapes"}
set_2 = {"cherry","cucumber","radish","carrot"}
union_set = set_1.union(set_2)
print("The union of two sets is :",union_set)

The union of two sets is : {'kiwi', 'grapes', 'apple', 'cucumber', 'carrot', 'radish', 'banana', 'cherry'}

In [143]:
##  10. Find the intersection of two sets.
set_1 = {"apple","banana","cherry","kiwi","grapes"}
set_2 = {"cherry","cucumber","radish","carrot"}
intersection_set = set_1.intersection(set_2)
print("The intersection of two sets is :",intersection_set)

The intersection of two sets is : {'cherry'}

In [144]:
##  11. Find the difference between two sets.
set_1 = {"apple","banana","cherry","kiwi","grapes"}
set_2 = {"cherry","cucumber","radish","carrot"}

difference_set1 = set_1.difference(set_2)  # Difference of set 1 - 2 
difference_set2 = set_2.difference(set_1)  # Difference of set 2 - 1

print("The difference of set_1 with set_2 is :",difference_set1)
print("The difference of set_2 with set_1 is :",difference_set2)

The difference of set_1 with set_2 is : {'kiwi', 'apple', 'banana', 'grapes'}
The difference of set_2 with set_1 is : {'carrot', 'cucumber', 'radish'}

In [145]:
##  12. Check if a set is a subset of another set.
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8,9}
result = set_2.issubset(set_1)
print("Does set_2 is subset of set_1 ",result)

Does set_2 is subset of set_1  True

In [147]:
##  13. Check if a set is a superset of another set.
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set1 is a superset of set2 using the issuperset method
result_method = set1.issuperset(set2)

# Check if set1 is a superset of set2 using the >= operator
result_operator = set1 >= set2

# Display the results
print("Using issuperset method:", result_method)
print("Using >= operator:", result_operator)

Using issuperset method: True
Using >= operator: True

In [148]:
##  14. Create a set from a list.
list_1 = [1,2,3,4,5,6,7,8]
list_to_set = set(list_1)
print("A set from a list ",list_to_set)

A set from a list  {1, 2, 3, 4, 5, 6, 7, 8}

In [149]:
##  15. Convert a set to a list.
set_1 = {1,2,3,4,5,6,7,8}
set_to_list = list(set_1)
print("A set to a list ",set_to_list)

A set to a list  [1, 2, 3, 4, 5, 6, 7, 8]

In [150]:
##  16. Remove a random element from a set.
# Define a set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set using the pop method
removed_element = my_set.pop()

# Display the set after removal and the removed element
print("Set after removal:", my_set)
print("Removed element:", removed_element)

Set after removal: {2, 3, 4, 5}
Removed element: 1

In [151]:
##  17. Pop an element from a set.
# Define a set
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set
popped_element = my_set.pop()

# Display the set after the pop operation and the popped element
print("Set after pop operation:", my_set)
print("Popped element:", popped_element)

Set after pop operation: {2, 3, 4, 5}
Popped element: 1

In [152]:
##  18. Check if two sets have no elements in common.
# Define two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets have no elements in common using the isdisjoint method
no_common_elements = set1.isdisjoint(set2)

# Display the result
print("Do the sets have no elements in common?", no_common_elements)

Do the sets have no elements in common? True

In [153]:
##  19. Find the symmetric difference between two sets.
# Define two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the symmetric difference using the symmetric_difference method
symmetric_difference_method = set1.symmetric_difference(set2)

# Find the symmetric difference using the ^ operator
symmetric_difference_operator = set1 ^ set2

# Display the results
print("Symmetric difference using symmetric_difference method:", symmetric_difference_method)
print("Symmetric difference using ^ operator:", symmetric_difference_operator)

Symmetric difference using symmetric_difference method: {1, 2, 5, 6}
Symmetric difference using ^ operator: {1, 2, 5, 6}

In [154]:
##  20. Update a set with elements from another set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2 using the update method
set1.update(set2)

# Display the updated set1
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [155]:
##  21. Create a set of the first 5 prime numbers.
# Function to check if a number is prime
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create a set of the first 5 prime numbers
first_5_primes = {2, 3, 5, 7, 11}

# Display the set of the first 5 prime numbers
print("Set of the first 5 prime numbers:", first_5_primes)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [156]:
##  22. Check if two sets are identical.
set1 = {1, 2, 3}
set2 = {3, 2, 1}

# Check if the sets are identical using the == operator
are_identical = set1 == set2

# Display the result
print("Are the sets identical?", are_identical)

Are the sets identical? True

In [157]:
##  23. Create a frozen set.
my_set = {1, 2, 3, 4, 5}

# Convert the set to a frozen set
frozen_set = frozenset(my_set)

# Display the frozen set
print("Frozen set:", frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

In [158]:
##  24. Check if a set is disjoint with another set.
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets are disjoint using the isdisjoint() method
are_disjoint = set1.isdisjoint(set2)

# Display the result
print("Are the sets disjoint?", are_disjoint)

Are the sets disjoint? True

In [160]:
##  25. Create a set of squares of numbers from 1 to 5.
squares_set = {x**2 for x in range(1, 6)}

# Display the set of squares
print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

In [161]:
##  26. Filter out all even numbers from a set.
# Original set
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out even numbers using set comprehension
filtered_set = {x for x in original_set if x % 2 != 0}

# Display the filtered set
print("Filtered set (without even numbers):", filtered_set)

Filtered set (without even numbers): {1, 3, 5, 7, 9}

In [162]:
##  27. Multiply all elements in a set by 2.
# Original set
original_set = {1, 2, 3, 4, 5}

# Convert set to list, multiply each element by 2, and create a new set
result_set = {x * 2 for x in original_set}

# Display the result set
print("Result set (each element multiplied by 2):", result_set)

Result set (each element multiplied by 2): {2, 4, 6, 8, 10}

In [163]:
##  28. Create a set of random numbers.
import random

# Generate a set of random numbers
random_set = {random.randint(1, 100) for _ in range(10)}

# Display the set of random numbers
print("Set of random numbers:", random_set)

Set of random numbers: {2, 99, 38, 72, 74, 10, 42, 77, 83, 57}

In [164]:
##  29. Check if a set is empty.
# Create an empty set
empty_set = set()

# Check if the set is empty
is_empty = not bool(empty_set)

# Display the result
print("Is the set empty?", is_empty)

Is the set empty? True

In [165]:
##  30. Create a nested set (hint: use frozenset).
# Create a nested set using frozenset
nested_set = {frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}

# Display the nested set
print("Nested set:", nested_set)

Nested set: {frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}

In [166]:
##  31. Remove an element from a set using the discard method.
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element using discard
element_to_remove = 3
my_set.discard(element_to_remove)

# Display the updated set
print("Set after removing", element_to_remove, ":", my_set)

Set after removing 3 : {1, 2, 4, 5}

In [167]:
##  32. Compare two sets.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Check if sets are equal
are_equal = set1 == set2
print("Are the sets equal?", are_equal)

# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2?", is_subset)

# Check if set2 is a superset of set1
is_superset = set2.issuperset(set1)
print("Is set2 a superset of set1?", is_superset)

Are the sets equal? False
Is set1 a subset of set2? False
Is set2 a superset of set1? False

In [168]:
##  33. Create a set from a string.
my_string = "HEllo Pwskils"
my_set = set(my_string)
print("Set created from string:",my_set)

Set created from string: {'H', 's', 'w', 'E', 'k', 'o', ' ', 'i', 'P', 'l'}

In [169]:
##  34. Convert a set of strings to a set of integers.
# Set of strings
string_set = {"1", "2", "3", "4", "5"}

# Convert to a set of integers
int_set = {int(value) for value in string_set}

# Display the set of integers
print("Set of integers:", int_set)

Set of integers: {1, 2, 3, 4, 5}

In [170]:
##  35. Convert a set of integers to a set of strings.
int_set = {1,2,3,4,5,6,7,8}
string_set = {str(value) for value in int_set}
print("Set of strings :",string_set)

Set of strings : {'1', '6', '2', '5', '4', '8', '3', '7'}

In [171]:
##  36. Create a set from a tuple.
my_tuple = (1,2,3,4,5,6,7,8)
my_set = set(my_tuple)
print("A set from a tuple :",my_set)

A set from a tuple : {1, 2, 3, 4, 5, 6, 7, 8}

In [172]:
##  37. Convert a set to a tuple.
my_set = {1,2,3,4,5,6,7,8,9,10}
my_tuple = tuple(my_set)
print("A set to a tuple :",my_tuple)

A set to a tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [173]:
##  38. Find the maximum value in a set.
my_set = {1,2,3,4,5,6,7,8,9,10}
print("The maximum value in the set is ",max(my_set))

The maximum value in the set is  10

In [174]:
##  39. Find the minimum value in a set.
my_set = {1,2,3,4,5,6,7,8,9,10}
print("The minimum value in the set is ",min(my_set))

The minimum value in the set is  1

In [175]:
##  40. Create a set from user input.
# Get user input as a comma-separated string
user_input_str = input("Enter elements for the set (comma-separated): ")

# Convert the input string to a set
user_set = set(user_input_str.split(','))

# Display the set
print("Set created from user input:", user_set)

Enter elements for the set (comma-separated):  1,2,3,4,5,6,7,8,9,10

Set created from user input: {'1', '6', '2', '5', '4', '8', '9', '10', '3', '7'}

In [176]:
##  41. Check if the intersection of two sets is empty.
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Check if the intersection is empty
intersection_empty = set1.isdisjoint(set2)

# Display the result
if intersection_empty:
    print("The intersection is empty.")
else:
    print("The sets have common elements.")

The sets have common elements.

In [177]:
##  42. Create a set of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for i in range(n):
        fibonacci_set.add(a)
        a, b = b, a+b

    return fibonacci_set
# Create a set of the first 5 fibonacci numbers
first_5_fibonacci_set = generate_fibonacci(5)

print("Set of the first 5 fibonacci numbers :",first_5_fibonacci_set)

Set of the first 5 fibonacci numbers : {0, 1, 2, 3}

In [178]:
##  43. Remove duplicates from a list using sets.
original_list = [1,2,3,4,5,6,7,8,1,2,3,2,1,3,2,4,5,6]

unique_list = list(set(original_list))

print("Original list with duplicates ",original_list)
print("List after removing duplicates ",unique_list)

Original list with duplicates  [1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 2, 1, 3, 2, 4, 5, 6]
List after removing duplicates  [1, 2, 3, 4, 5, 6, 7, 8]

In [179]:
##  44. Check if two sets have the same elements, regardless of their count.
from collections import Counter

# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1, 1}

# Check if sets have the same elements regardless of count
same_elements = Counter(set1) == Counter(set2)

# Display the result
if same_elements:
    print("The sets have the same elements regardless of count.")
else:
    print("The sets do not have the same elements regardless of count.")

The sets have the same elements regardless of count.

In [180]:
##  45. Create a set of the first `n` powers of 2.
# Set of the first 5 powers of 2
n = 5
powers_of_2_set = {2 ** i for i in range(n)}

# Display the set
print("Set of the first 5 powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [181]:
##  46. Find the common elements between a set and a list.
my_set = {1,2,3,4,5}
my_list = [3,4,5,6,7,8]

common_element = set(my_list).intersection(my_set)

print("Common elements between the set and lists ",common_element)

Common elements between the set and lists  {3, 4, 5}

In [182]:
##  47. Create a set of the first `n` triangular numbers.
# Set of the first 5 triangular numbers
n = 5
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}

# Display the set
print("Set of the first 5 triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [183]:
##  48. Check if a set contains another set as a subset.
# Sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Display the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [184]:
##  49. Create a set of alternating 1s and 0s of length `n`.
# Set of alternating 1s and 0s of length n
n = 5
alternating_set = {i % 2 for i in range(n)}

# Display the set
print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

In [185]:
##  50. Merge multiple sets into one.
set_1 = {1,2,3,4,5}
set_2 = {6,7,8,9,10}
set_3 = {11,12,13,14,15}
set_4 = {16,17,18,19,20}
set_5 = {21,22,23,24,25}
set_6 = {26,27,28,29,30.31,32}

merged_set = set_1.union(set_2,set_3,set_4,set_5,set_6)

print("Multiple merged sets are :",merged_set)

Multiple merged sets are : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30.31, 32}